.intro{
    background-color: #fff;
    text-align: center;
}

.moiga{
    padding-top: 33%;
}


.red-wave{
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.red-wave svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 129px;
    transform: rotateY(180deg);
}

.red-wave .shape-fill {
    fill: #C22929;
}